<%- include('header.ejs') %>

<div class="row">
  <div class="col-md-12 d-flex flex-column justify-content-center align-items-center text-white vh-100">
    <h1 class="error">404</h1>
    <h4 class="pagenotfound">Sayfa bulunamadı</h4>
    <p class="message">Üzgünüm! Aradığınız sayfa mevcut değil. Muhtemelen taşınmış veya silinmiş olabilir.</p>
    <a class="etag" href="/">Anasayfaya dön</a>
  </div>
</div>

<%- include("footer.ejs") %>