<%- include('./header.ejs') %>
<div class="row">
  <div class="col-md-12 d-flex flex-column justify-content-center align-items-center text-white vh-100">
    <h1 class="error">500</h1>
    <h4 class="backenderror">Bilinmedik Sunucu Hatası</h4>
    <p class="message">İşleminizi gerçekleştirirken bir hataya maruz kaldık. Lütfen tekrar deneyin.</p>
    <a class="etag" href="/">Anasayfaya dön</a>
  </div>
</div>
<%- include("footer.ejs") %>