<%- include("./header.ejs") %>
<br>

<div class="main">
  <div class="logo">
    <img src="/imgs/logo.png" alt="Crow Logo" class="rounded-circle">
  </div>
  <div class="content">
    <h1>Merhaba, Ben Crow</h1>
    <p class="bot-info">Sunucunuz ve <a href="https://discord.com" target="_blank">Discord</a> botunuz için mükemmel bir yardımcıyım!</p>
    <p class="bot-info">Peki ya neden beni ekleyip denemiyorsun?</p>
    <div class="bot-links">
      <a href="https://discord.com/oauth2/authorize?client_id=786466522972946462&scope=bot&permissions=8">Beni Denemek İçin Tıkla</a>
      <a href="/dashboard">Yönetim Paneline Ulaşmak İçin Tıkla</a>
      <a href="/commands">Komutları Görüntülemek İçin Tıkla</a>
    </div>
  </div>
</div>

<%- include("footer.ejs") %>